<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="1.6.2" targetFramework="net47" developmentDependency="true" />
  <package id="ELFSharp" version="2.0.0" targetFramework="net47" />
  <package id="Fody" version="2.0.0" targetFramework="net47" developmentDependency="true" />
  <package id="SharpDisasm" version="1.1.11" targetFramework="net47" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net47" />
</packages>